<div class="container">
  <div  [@cardChange]="actualStep">
  <div *ngFor="let step of steps; let i = index">
    <div *ngIf="i === actualStep">
      <div>
        <div [style.background-color]="step.bgcolor" class="card border-0 shadow">
          <img [src]="step.img" [alt]="step.title" class="align-self-center card-img">
          <div class="card-body text-black bg-white">
            <h5 class="card-text">{{step.title}}</h5>
            <p class="text-secondary">{{step.description}}</p>

            <div class="dot-buttons d-flex gap-3">

              <div class="dots-menu">
                <ng-container *ngFor="let step of steps; let i = index">
                  <button *ngIf="i === actualStep; else elseBlock"
                          class="stripe btn border-0 m-0 p-0" [class.active]="i === actualStep">
                  </button>

                  <ng-template #elseBlock>
                    <button (click)="goToStep(i)" class="dots btn border-0 p-0"></button>
                  </ng-template>
                </ng-container>
              </div>

              <div>
                <button *ngIf="actualStep !== 0" (click)="last()" class="btn btn-warning btn-outline-dark bg-white rounded-circle p-2">
                  <img src="assets/img/leftArrow.svg" alt="arrow">
                </button>

                <button *ngIf="actualStep !== 2" (click)="next();" class="btn btn-info btn-outline-dark bg-dark rounded-circle p-2">
                  <img src="assets/img/rightArrow.svg" class="invert" alt="arrow">
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>
